<div class="container">
    <div class="logo">
        <img src="assets/earth.png" alt="">
    </div>
    <div class="fuzzy-search">
        <input type="text" placeholder="Search for a country..." [(ngModel)]="searchTerm">
        <div class="icon">
            <ion-icon name="search-outline"></ion-icon>
        </div>
    </div>
    <div class="items">
        <p class="item" routerLink="/">Home</p>
        <p class="item" routerLink="/allcountries">Countries</p>
        <a class="item github" href="https://github.com/Tobi17890/Demo">
            <ion-icon name="logo-github"></ion-icon>
        </a>
    </div>
</div>
<div class="container-countries" >
    <div class="con-country"*ngFor="let country of countries | filter:searchTerm">
      <div class="over-hidden">
        <img
          [src]="country?.flags?.png"
          alt=""
        />
      </div>
      <h3 class="name-country" (click)="openDialog(country)">
        {{ country?.name?.official.length <= 22 ? country?.name?.official : (country?.name?.official | slice:0:22) + '...' }}
      </h3>
      <p class="population"> Name : 
        <span class="name-con">
          {{ country?.altSpellings[1]?.length <= 15 ? country?.altSpellings[1] : (country?.altSpellings[1] | slice:0:15) + '...' }}
        </span>
      </p>
      <p class="capital"> IDD Code : {{country?.idd?.root}}</p>
    </div>
</div>