<div class="container-countries" >
  <div class="con-country"*ngFor="let country of countries">
    <div class="over-hidden">
      <img
        [src]="country?.flags?.png"
        alt=""
      />
    </div>
    <h3 class="name-country">
      {{ country?.name?.official.length <= 22 ? country?.name?.official : (country?.name?.official | slice:0:22) + '...' }}
    </h3>
    <p class="population"> Name : 
      <span class="name-con">
        {{ country?.altSpellings[1]?.length <= 15 ? country?.altSpellings[1] : (country?.altSpellings[1] | slice:0:15) + '...' }}
      </span>
    </p>
    <!-- <p class="region"> CCA2 : {{country?.cca2}}</p>
    <p class="region"> CCA3 : {{country?.cca3}}</p> -->
    <p class="capital"> IDD Code : {{country?.idd?.root}}</p>
  </div>
</div>
<app-pagination></app-pagination>