<div class="container-countries">
    <div class="con-country">
      <img
        src="assets/Australia.svg"
        alt=""
      />
      <h3 class="name-country">Australia</h3>
      <p class="population">Population: 25,499,884</p>
      <p class="region">Region: Oceania</p>
      <p class="capital">Capital: Canberra</p>
    </div>
    <div class="con-country">
      <img
        src="assets/USA.svg"
        alt=""
      />
      <h3 class="name-country">United States</h3>
      <p class="population">Population: 331,449,281</p>
      <p class="region">Region: Americas</p>
      <p class="capital">Capital: Washington, D.C.</p>
    </div>
    <div class="con-country">
      <img
        src="assets/France.webp"
        alt=""
      />
      <h3 class="name-country">France</h3>
      <p class="population">Population: 65,273,511</p>
      <p class="region">Region: Europe</p>
      <p class="capital">Capital: Paris</p>
    </div>
    <div class="con-country">
      <img
        src="assets/denmark.webp"
        alt=""
      />
      <h3 class="name-country">Denmark</h3>
      <p class="population">Population: 5,792,202</p>
      <p class="region">Region: Europe</p>
      <p class="capital">Capital: Copenhagen</p>
    </div>
  </div>
  <div class="container-countries">
    <div class="con-country">
      <img
        src="assets/Australia.svg"
        alt=""
      />
      <h3 class="name-country">Australia</h3>
      <p class="population">Population: 25,499,884</p>
      <p class="region">Region: Oceania</p>
      <p class="capital">Capital: Canberra</p>
    </div>
    <div class="con-country">
      <img
        src="assets/USA.svg"
        alt=""
      />
      <h3 class="name-country">United States</h3>
      <p class="population">Population: 331,449,281</p>
      <p class="region">Region: Americas</p>
      <p class="capital">Capital: Washington, D.C.</p>
    </div>
    <div class="con-country">
      <img
        src="assets/France.webp"
        alt=""
      />
      <h3 class="name-country">France</h3>
      <p class="population">Population: 65,273,511</p>
      <p class="region">Region: Europe</p>
      <p class="capital">Capital: Paris</p>
    </div>
    <div class="con-country">
      <img
        src="assets/denmark.webp"
        alt=""
      />
      <h3 class="name-country">Denmark</h3>
      <p class="population">Population: 5,792,202</p>
      <p class="region">Region: Europe</p>
      <p class="capital">Capital: Copenhagen</p>
    </div>
  </div>
  <div class="container-countries">
    <div class="con-country">
      <img
        src="assets/Australia.svg"
        alt=""
      />
      <h3 class="name-country">Australia</h3>
      <p class="population">Population: 25,499,884</p>
      <p class="region">Region: Oceania</p>
      <p class="capital">Capital: Canberra</p>
    </div>
    <div class="con-country">
      <img
        src="assets/USA.svg"
        alt=""
      />
      <h3 class="name-country">United States</h3>
      <p class="population">Population: 331,449,281</p>
      <p class="region">Region: Americas</p>
      <p class="capital">Capital: Washington, D.C.</p>
    </div>
    <div class="con-country">
      <img
        src="assets/France.webp"
        alt=""
      />
      <h3 class="name-country">France</h3>
      <p class="population">Population: 65,273,511</p>
      <p class="region">Region: Europe</p>
      <p class="capital">Capital: Paris</p>
    </div>
    <div class="con-country">
      <img
        src="assets/denmark.webp"
        alt=""
      />
      <h3 class="name-country">Denmark</h3>
      <p class="population">Population: 5,792,202</p>
      <p class="region">Region: Europe</p>
      <p class="capital">Capital: Copenhagen</p>
    </div>
  </div>
  <div class="container-countries">
    <div class="con-country">
      <img
        src="assets/Australia.svg"
        alt=""
      />
      <h3 class="name-country">Australia</h3>
      <p class="population">Population: 25,499,884</p>
      <p class="region">Region: Oceania</p>
      <p class="capital">Capital: Canberra</p>
    </div>
    <div class="con-country">
      <img
        src="assets/USA.svg"
        alt=""
      />
      <h3 class="name-country">United States</h3>
      <p class="population">Population: 331,449,281</p>
      <p class="region">Region: Americas</p>
      <p class="capital">Capital: Washington, D.C.</p>
    </div>
    <div class="con-country">
      <img
        src="assets/France.webp"
        alt=""
      />
      <h3 class="name-country">France</h3>
      <p class="population">Population: 65,273,511</p>
      <p class="region">Region: Europe</p>
      <p class="capital">Capital: Paris</p>
    </div>
    <div class="con-country">
      <img
        src="assets/denmark.webp"
        alt=""
      />
      <h3 class="name-country">Denmark</h3>
      <p class="population">Population: 5,792,202</p>
      <p class="region">Region: Europe</p>
      <p class="capital">Capital: Copenhagen</p>
    </div>
  </div>