.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 40px ;
    a {
        padding: 10px 20px;
        margin: 0 5px;
        text-decoration: none;
        border: none;
        background-color: #EBF1FA;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
        border-radius: 5px;
        cursor: pointer;
        display: flex;
        align-items: center;
        transition: all 0.1s ease;
        &:hover {
            background-color: #F0F0F0;
            color: black;
        }
    }
    .active {
        background-color: #0B2551;
        color: #fff;
    }
}