<div class="container">
    <div class="logo">
        <img src="assets/earth.png" alt="">
    </div>
    <div class="fuzzy-search">
        <input type="text" placeholder="Search for a country...">
        <div class="icon">
            <ion-icon name="search-outline"></ion-icon>
        </div>
    </div>
    <div class="items">
        <p class="item">Home</p>
        <p class="item">All Countries</p>
        <a class="item github" routerLink="/">
            <ion-icon name="logo-github"></ion-icon>
        </a>
    </div>

</div>
<app-filtering-countries></app-filtering-countries>

